<section class="login-block">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-8 login-content-area">
        <div style="text-align: center;">
          <h1>Welcome</h1>
          <span>This is a chating application for practice purpose</span>
        </div>
        <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img
            src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png"> Signup Using Google</a>
      </div>
    </div>
  </div>
</section>